<div class="info-bar">
<a>热招职位</a>
</div>
<div class="info-item">


<div class="col-sm-4">
<div class="panel ">
  <div class="panel-heading">
    经营管理类
    </div>

<div class="panel-body">
  <ul class="">

    <% @jingying.each do |j|%>
        <li><span><%=j.locate%></span><a href="/vacancy/show?id=<%=j.id %>"><%=j.job %></a><i><%=j.salary %></i></li>
 <% end %>


  </ul>
</div>

</div>
  </div>
  <div class="col-sm-4">
    <div class="panel ">
      <div class="panel-heading">
        秘书文员类
      </div>

      <div class="panel-body">
        <ul class="">
          <% @mishu.each do |j|%>
              <li><span><%=j.locate%></span><a href="/vacancy/show?id=<%=j.id %>"><%=j.job %></a><i><%=j.salary %></i></li>
          <% end %>


        </ul>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel ">
      <div class="panel-heading">
        程序开发类
      </div>

      <div class="panel-body">
        <ul class="">
          <% @kaifa.each do |j|%>
              <li><span><%=j.locate%></span><a href="/vacancy/show?id=<%=j.id %>"><%=j.job %></a><i><%=j.salary %></i></li>
          <% end %>



        </ul>
      </div>

    </div>
  </div>


  <div style="clear: both"></div>


</div>




<div class="info-bar">
  <a>最新信息</a>
</div>
<div class="info-item">


  <div class="col-sm-4">
    <div class="panel ">
      <div class="panel-heading">

      </div>

      <div class="panel-body">
        <ul class="">
          <li><a>新路程中高级人才招聘会10月8日-16日举办</a></li>

          <li><a>新路程中高级人才招聘会10月8日-16日举办</a></li>
          <li><a>新路程中高级人才招聘会10月8日-16日举办</a></li>
          <li><a>新路程中高级人才招聘会10月8日-16日举办</a></li>
          <li><a>新路程中高级人才招聘会10月8日-16日举办</a></li>


        </ul>
      </div>

    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel ">
      <div class="panel-heading">

      </div>

      <div id="img-panel-body" class="panel-body">
     <img src="/assets/info.gif">
        <img src="/assets/info2.jpg">
        <img src="/assets/info3.jpg">
        <img src="/assets/info4.jpg">
        <img src="/assets/info5.jpg">

      </div>
      </div>

    </div>
  </div>

<div class="info-item">



</div>

<div style="clear: both"></div>




<div class="modal fade" id="location-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          选择地址
        </h4>
      </div>
      <div class="modal-body">
        地址
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary">
          我选好了
        </button>
      </div>
    </div>
  </div>
    </div>
<div class="modal fade" id="work-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          选择地址
        </h4>
      </div>
      <div class="modal-body">
        地址
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary">
          我选好了
        </button>
      </div>
    </div>
  </div>
</div>